---
import { useTranslations } from "../i18n/util";
import { languages } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);

const localizedLink = (path: string) => {
  if (currentLang === "es") return path;
  return `/${currentLang}${path}`;
};
---
<section id="about" class="grid grid-cols-12 px-5 lg:px-10 gap-4 relative w-full pt-5 lg:pt-20 pb-0 lg:pb-40">
    <article class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-4 flex flex-col gap-4">
        <h3 class="text-blue text-[12px] lg:text-[16px] font-semibold">{translateLabels("about.accent")}</h3>
        <h2 class="text-2xl lg:text-[40px] leading-12">{translateLabels("about.title")} <span class="font-bold">{translateLabels("about.titleBold")}</span></h2>
        <p class="text-[14px] lg:text-[16px] text-gray font-inter">
            {translateLabels("about.text")}
            <br><br>
            {translateLabels("about.text2")}
        </p>
        <div class="pt-10 flex flex-col gap-10">
            <div class="flex gap-x-5 lg:gap-x-10">
                <img src="/images/icon/tennis.png" class="w-10 h-10">
                <div class="flex flex-col gap-2 font-inter">
                    <h4 class="text-[16px] lg:text-xl font-bold">{translateLabels("about.service1.title")}</h4>
                    <p class="text-[14px] lg:text-[16px] text-gray">{translateLabels("about.service1.text")}</p>
                </div>
            </div>
            <div class="flex gap-x-5 lg:gap-x-10">
                <img src="/images/icon/tennis.png" class="w-10 h-10">
                <div class="flex flex-col gap-2 font-inter">
                    <h4 class="text-[16px] lg:text-xl font-bold">{translateLabels("about.service2.title")}</h4>
                    <p class="text-[14px] lg:text-[16px] text-gray">{translateLabels("about.service2.text")}</p>
                </div>
            </div>
            <div class="flex gap-x-5 lg:gap-x-10">
                <img src="/images/icon/tennis.png" class="w-10 h-10">
                <div class="flex flex-col gap-2 font-inter">
                    <h4 class="text-[16px] lg:text-xl font-bold">{translateLabels("about.service3.title")}</h4>
                    <p class="text-[14px] lg:text-[16px] text-gray">{translateLabels("about.service3.text")}</p>
                </div>
            </div>


            
        </div>
    </article>
    <article class=" col-start-1 lg:col-start-7 col-span-12 lg:col-span-5 self-end mt-10 lg:mt-0">
        <img src="/images/college5.webp" class="w-full rounded-xl object-cover aspect-square">
    </article>
</section>
