<section class="grid grid-cols-12 px-5 lg:px-10 gap-4 relative w-full pt-20 pb-6 bg-black">
    <span class="col-span-12 h-px w-full bg-gray opacity-55"></span>
    <article class="pt-10 col-start-1 lg:col-start-1 col-span-12 lg:col-span-12 w-full flex items-center justify-between ">
        <p class="text-gray text-sm font-inter">© {new Date().getFullYear()} Jaume Barceló. All rights reserved.</p>
        <a href="www.inakimir.com" target="_blank" rel="noopener noreferrer">
            <img src="images/icon/inakimir.svg" class="w-4">
        </a>
    </article>
</section>