---
import { useTranslations } from "../i18n/util";
import { languages } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);

const localizedLink = (path: string) => {
  if (currentLang === "es") return path;
  return `/${currentLang}${path}`;
};
---

<section id="contact" class="grid grid-cols-12 px-5 lg:px-10 gap-4 relative w-full py-10 lg:py-20 bg-black">
    <article class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-10 flex flex-col gap-4">
        <h3 class="text-blue text-[12px] lg:text-[16px] font-semibold">{translateLabels("form.accent")}</h3>
        <div class="w-full flex flex-col lg:flex-row justify-between items-start lg:items-center">
            <h2 class="text-2xl lg:text-[40px] leading-12">{translateLabels("form.title")}</h2>
            <div class="flex items-center gap-6 text-[14px] lg:text-[16px]">
                <img src="/images/icon/phone.svg" class="size-5">
                <p>{translateLabels("form.phone")}: <a href={`tel:${translateLabels("form.phoneNumber")}`}>{translateLabels("form.phoneNumber")}</a></p>
            </div>
        </div>
    </article>
    <form id="contact-id" class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-10 grid grid-cols-3 gap-4 font-inter">
        <input type="text" required name="name" id="name" placeholder={translateLabels("input.name")} class="col-span-3 lg:col-span-1 p-3 lg:p-4 rounded-full w-full bg-dark-gray text-gray text-[14px] lg:text-[16px] border-0 focus:border-blue outline-none">
        <input type="text" required name="phone" id="phone" placeholder={translateLabels("input.phone")} class="col-span-3 lg:col-span-1 p-3 lg:p-4 rounded-full w-full bg-dark-gray text-gray text-[14px] lg:text-[16px] border-0 focus:border-blue outline-none">
        <input type="email" required name="email" id="email" placeholder={translateLabels("input.email")} class="col-span-3 lg:col-span-1 p-3 lg:p-4 rounded-full w-full bg-dark-gray text-gray text-[14px] lg:text-[16px] border-0 focus:border-blue outline-none">
        <textarea name="message" required id="message" rows="8" placeholder={translateLabels("input.message")} class="col-span-3 p-3 lg:p-4 rounded-3xl w-full bg-dark-gray text-gray text-[14px] lg:text-[16px] border-0 focus:border-blue outline-none"></textarea>
        <button type="submit" class="justify-self-end cursor-pointer col-start-3 mt-5 bg-blue text-[14px] lg:text-[18px] w-fit px-8 py-2 rounded-full">{translateLabels("input.submit")}</button>
    </form>  
</section>





<script>
import emailjs from '@emailjs/browser';

emailjs.init({
  publicKey: 'zn4TVF3i-0u0nfL4D',
  // Do not allow headless browsers
  blockHeadless: true,
  blockList: {
    // Block the suspended emails
    list: ['foo@emailjs.com', 'bar@emailjs.com'],
    // The variable contains the email address
    watchVariable: 'userEmail',
  },
  limitRate: {
    // Set the limit rate for the application
    id: 'app',
    // Allow 1 request per 10s
    throttle: 10000,
  },
});
  document.getElementById("contact-id").addEventListener("submit", function (e) {
    e.preventDefault(); // 🚫 evita recarga

    let params = {
      name: document.getElementById("name").value,
      phone: document.getElementById("phone").value,
      email: document.getElementById("email").value,
      message: document.getElementById("message").value,
    };

    emailjs
      .send("service_vjllo9o", "template_wlzx8mh", params)
      .then(() => {
        alert("Message sent successfully");
        e.target.reset(); // limpia el formulario
      })
      .catch((error) => {
        console.error(error);
        alert("Error sending message");
      });
  });
</script>

<script>
  console.log("emailjs:", emailjs);
</script>
