<section class="grid grid-cols-12 px-5 lg:px-10 gap-4 relative w-full py-20 bg-black">
    <article class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-10 flex flex-col gap-4">
        <h3 class="text-blue font-semibold">Contact with me</h3>
        <div class="w-full flex justify-between intems-center">
            <h2 class="text-[40px] leading-12">Feel Free To Ask </h2>
            <div class="flex items-center gap-6">
                <img src="images/icon/phone.svg" class="size-5">
                <p>Phone: <a href="#">+34 666 333 222</a></p>
            </div>
        </div>
    </article>
    <form class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-10 grid grid-cols-3 gap-4 font-inter">
        <input type="text" name="name" id="name" placeholder="Full Name" class="col-span-3 lg:col-span-1 p-4 rounded-full w-full bg-dark-gray text-gray border-0 focus:border-blue outline-none">
        <input type="text" name="phone" id="phone" placeholder="Phone Number" class="col-span-3 lg:col-span-1 p-4 rounded-full w-full bg-dark-gray text-gray border-0 focus:border-blue outline-none">
        <input type="email" name="email" id="email" placeholder="Email Address" class="col-span-3 lg:col-span-1 p-4 rounded-full w-full bg-dark-gray text-gray border-0 focus:border-blue outline-none">
        <textarea name="message" id="message" rows="8" placeholder="Your Message" class="col-span-3 p-4 rounded-3xl w-full bg-dark-gray text-gray border-0 focus:border-blue outline-none"></textarea>
        <button type="submit" class="justify-self-end cursor-pointer col-start-3 mt-5 bg-blue text-[18px] w-fit px-8 py-2 rounded-full">Send</button>
    </form>  
</section>