---
import { useTranslations } from "../i18n/util";
import { languages } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);

const localizedLink = (path: string) => {
  if (currentLang === "es") return path;
  return `/${currentLang}${path}`;
};
---

<section class="grid grid-cols-12 px-5 lg:px-10 gap-4 relative w-full py-10 lg:py-40">

    <article class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-3 flex flex-col gap-4">
        <h3 class="text-blue text-[12px] lg:text-[16px] font-semibold">{translateLabels("gallery.accent")}</h3>
        <h2 class="text-2xl lg:text-[40px] leading-12 font-bold">{translateLabels("gallery.title")}</h2>        
    </article>

    <article class="col-start-1 lg:col-start-2 col-span-12 lg:col-span-5 mt-16">
        <img src="/images/jaume4.webp" class="w-full object-[50%_30%] object-cover aspect-674/619 rounded-xl"  />
    </article>

    <article class="col-start-1 lg:col-start-7 col-span-12 lg:col-span-5 mt-16 grid grid-cols-2 gap-4">
        <div>
            <img src="/images/new2.webp" class="w-full object-cover aspect-674/619 rounded-xl"  />
        </div>
        <div>
            <img src="/images/new3.webp" class="w-full object-[50%_30%] object-cover aspect-674/619 rounded-xl"  />
        </div>
        <div>
            <img src="/images/new1.webp" class="w-full object-[50%_30%] object-cover aspect-674/619 rounded-xl"  />
        </div>
        <div>
            <img src="/images/new4.webp" class="w-full object-cover aspect-674/619 rounded-xl"  />
        </div>
        
        
    </article>
    
</section>