<header class="px-5 lg:px-10 py-5 lg:py-10 flex justify-between items-center w-full absolute top-0 left-0 z-50 font-medium">
    <a href="/" class="text-[20px]">Jaume <br> Barceló</a>
    <nav class="flex items-center gap-8 text-[20px]">
        <a href="#about" class="hover:underline underline-offset-4">English</a>
        <a href="#contact" class="bg-blue text-[18px] px-4 py-2 rounded-full">Contact</a>
    </nav>
</header>