---
import SwiperCarousel from "../assets/SwiperCarousel.astro"
---
<section class="grid grid-cols-12 px-5 lg:px-10 gap-4 relative w-full py-20">


    <article class="mt-10 col-start-1 lg:col-start-2 col-span-12 lg:col-span-4 flex flex-col gap-4">
        <h3 class="text-blue font-semibold">College</h3>
        <h2 class="text-[40px] leading-12">My Time In The <span class="font-bold">USA</span></h2>
        <p class="text-gray font-inter">
            I earned a tennis scholarship in the United States, where I trained and competed while pursuing my studies. Playing at a collegiate level exposed me to top-level coaching, demanding competition, and a culture of constant improvement. That experience now inspires the way I coach, combining discipline, resilience, and a global perspective on the sport.
        </p>
    </article>
    <article class=" col-start-1 lg:col-start-7 col-span-12 lg:col-span-7">
        <SwiperCarousel />
    </article>
</section>
